doctype html
html
  head(lang='en')
    title Page Not Found
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
body
    div.container
      h1 Page Not Found
      p Sorry, but the page you were trying to load does not exist.
      a(href="/") Click here to return to the home page.
