footer.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-bottom
  div.w-100.text-center Copyright &nbsp;
    i.fa.fa-copyright &nbsp; 2020 Cutlass &nbsp; | &nbsp;
    i.fa.fa-envelope &nbsp; <a href="mailto:scotmcc@gmail.com">Contact us</a>
