doctype html
html
  block head
    head(lang='en')
      meta(charset='UTF-8')
      meta(name="description" content="")
      meta(name="theme-color" content="#fafafa")
      meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
      link(rel="manifest" href="manifest.json")
body
  block body
    block navigation
      include navigation
    block header
      include header
    content.container
      block content
    block footer
      include footer
