nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='/') Sapphire
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon

  .collapse.navbar-collapse(id='navbarSupportedContent')
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/') Home
      li.nav-item
        a.nav-link(href='/about.html') About
      li.nav-item
        a.nav-link(href='/forums.html') Forums
      li.nav-item
        a.nav-link(href='/games.html') Games
      li.nav-item
        a.nav-link(href='/groups.html') Groups
      li.nav-item
        a.nav-link(href='/news.html') News
    ul.navbar-nav.float-right
      li.nav-item
        a.nav-link(href='/login')
          i.fa.fa-user &nbsp; Login
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(id='navbarDropdownMenuLink', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          i.fa.fa-cog &nbsp; Settings
        .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
          a.dropdown-item(href='/login') Login


