extends includes/layout

append head
  title Sapphire

append content
  table
    tr
      td Message
      td
        input(type="text" id="message")
      td
        button(id="send") Send
    tr
      td(colspan=3)
        textarea(id="response")
